{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
    % let it always be the first
    {lager, "2.0.1",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {meck, "0.*",
        {git, "git://github.com/eproxus/meck", {branch, "master"}}},
    {epgsql, ".*",
        {git, "https://github.com/EchoTeam/epgsql.git", "b9cd23b73e"}},
    {epgsql_pool, "0.1.*",
        {git, "https://github.com/EchoTeam/epgsql_pool.git", {tag, "v0.1.0"}}},
    {ezk, "0.1.*",
        {git, "git@github.com:EchoTeam/ezk.git", {tag, "v0.1.0"}}},
    {echo_async, "1.0.*",
        {git, "git@github.com:EchoTeam/echo_async.git", {branch, "master"}}},
    {echo_json, "1.0.*",
        {git, "git@github.com:EchoTeam/echo_json.git", {branch, "master"}}},
    {utils, "0.1.*",
        {git, "git@github.com:EchoTeam/utils.git", {branch, "master"}}},
    {erpc, "1.0.0",
        {git, "git@github.com:EchoTeam/erpc.git", {branch, "master"}}},
    {corman, "1.0.*",
        {git, "git@github.com:EchoTeam/corman.git", {branch, "master"}}},
    {node_pool, "1.0.0",
        {git, "git@github.com:EchoTeam/node_pool.git", {branch, "master"}}},
    {echo_zookeeper, ".*",
        {git, "git@github.com:EchoTeam/echo_zookeeper.git", {branch, "master"}}},
    {stats, "1.0.0",
        {git, "git@github.com:EchoTeam/stats.git", {branch, "master"}}}
]}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
